.character {
  &__img {
    max-width: 450px;
    max-height: 550px;
    min-height: 300;
    min-width: 150px;
    padding: 10px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
  }
}

.related-container {
  display: grid;
  grid-template-columns: repeat(1, 0fr);
  gap: 5px;
  justify-content: center;
}

.flex-container {
  display: flex;
  align-items: center;
  margin: 20px;
  flex-direction: column;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 90%;
  text-align: center;
}
.info__item {
  padding: 0px;
  margin: 0;

  &__title {
    font-size: 5vw;
  }
}
.center {
  text-align: center;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-info {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin: 20px;
  -webkit-box-shadow: 5px 1px 25px 0px rgba(255, 0, 0, 0.59);
  -moz-box-shadow: 5px 1px 25px 0px rgba(255, 0, 0, 0.59);
  box-shadow: 5px 1px 25px 0px rgba(255, 0, 0, 0.59);
}
.error {
  text-align: center;
}
.info__item__title-story {
  font-size: 3.5vw;
}
@media screen and (min-width: 600px) {
  .character-list {
    grid-template-columns: repeat(2, 0fr);
  }
  .related-container {
    grid-template-columns: repeat(2, 0fr);
  }
  .info__item__title {
    font-size: 3vw;
  }
  .info__item__title-story {
    font-size: 2vw;
    margin: 10px;
  }
}

@media screen and (min-width: 900px) {
  .character-list {
    grid-template-columns: repeat(3, 0fr);
  }
  .character-info {
    flex-direction: row;
  }
  .related-container {
    grid-template-columns: repeat(5, 0fr);
  }
}
