.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;

  &-box {
    width: 200px;
    text-align: center;
    margin-top: 20px;
  }
}

.filter__input {
  margin: 10px;
  margin-left: 10px;
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  border: 2px solid red;
}

@media screen and (min-width: 800px) {
  .filter {
    flex-direction: row;
  }
}
