@import './general.scss';
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $red-marvel;
  height: 50px;
  color: white;
}

.nav-list {
  display: flex;
  &__item {
    list-style: none;
    margin-left: 10px;

    &--text {
      color: white;
      font-size: 4vw;
    }
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.logo {
  font-size: 6vw;
}
@media screen and (min-width: 800px) {
  .nav-list__item--text {
    font-size: 2.2vw;
  }
  .logo {
    font-size: 3vw;
  }
}
